<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h2 class="welcome">Phishing</h2>
    <nav class="navigation">
        <a href="{% url 'home' %}" id="reload-link">Home</a>
        <a href="{% url 'check_site' %}" id="reload-link">CheckSite</a>
        <a href="{% url 'black_list' %}" id="reload-link">BlackList</a> 
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" id="reload-link">Profile</a>
            <a href="{% url 'feedback' %}" id="reload-link">FeedBack</a> 
            <p>{{ user.first_name }}!</p>
        {% else %}
            <button class="btnnn"><a href="{% url 'register' %}" id="reload-link">signup</a></button>
        {% endif %}
    </nav>
    
    <h1>An error occurred</h1>
    <p>{{ message }}</p>
</body>
</html>